.box-container-frequencia-div {
  display: flex;
  border-radius: 3px;
  background: #eaeaea;
  height: 42px;
  border: none;
  margin-left: 25px;
}

.select-component-frequencia-select {
  color: #696969;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  outline: none;
  background-color: #eaeaea;
  margin-left: 10px;
  margin-right: 10px;
}
