body{
    background-color: #F2F8F8;
}

.alo {
    width: 100%;
}

img {
    flex-shrink: 0;
    width: 62.611px;
    height: 81.431px;
    margin-top: 70px;
}

.login-container {
    text-align: center;
    align-items: center;
}

.components-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
    gap: 15px;

}

.frase {
    color:#4D4C4C;
    text-align: center;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    flex-direction: column;
}

.link-recuperar-senha, .texto-cadastro {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #191919;
    margin-bottom: 8px;
    text-align: center; 
    text-decoration: none; 
   }
   
   .link-recuperar-senha {
    border-bottom: 1px solid #E10E17; 
    padding-bottom: 2px; 
    margin-bottom: 10px;
   }
   
   .texto-cadastro {
    margin-top: 20px;
   }
   
   .texto-cadastro a {
    color: #E10E17; 
    text-decoration: underline;
    
   
   }
   
   .texto-cadastro a:hover {
    color: #C00D16;
   }
   

@media (min-width: 700px) {
    .components-container {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        margin-left: 25%;
        margin-right: 25%;
    }
    img {
        width: 62.611px;
        height: 81.431px;
    }
}

