.body-container-remedio {
    display: flex;
    position: fixed;
    top: 15%;
    width: 90%;
    height: 560px;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    background-color: #FBF8F8;
    box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.25);

}

.nome-remedio {
    font-family: Poppins;
    align-self: start;
    font-size: 20px;
    font-weight: 600;
    max-width: 80%;
    line-height: 38px;
    letter-spacing: 0em;
    margin-top: -10%;
    color: #343131;
    overflow-wrap: break-word;
}

.button-med-edit {
    border: none;
    background-color: transparent;
    position: fixed;
    top: 18%;
    right: 12%;
}

.infos-remedio {
    position: fixed;
    top: 21%;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 700;
    line-height: 23px;
    color: #343131;
    margin-left: -7%;
    display: flex;
    flex-direction: column;

    gap: 6px;
}

.informacao-de-uso-remedio {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
}

.bula-medicamento {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.bula-medicamento-button {
    border: none;
    outline: none;
    display: flex;
    width: 162px;
    height: 45px;
    padding: 6px 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: #DCDCDC;
    color: #4D4C4C;
    text-align: center;
    font-family: Poppins;
    font-size: 19px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    position: fixed;
    bottom: 20%;

}

.edition-icon-medicament-image {
    width: 32px;
    height: 32px;
}

.delete-medicament-button {
    border: none;
    background-color: transparent;
    color: #E10E17;
    text-align: center;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: fixed;
    bottom: 14%;
}

.box-lista-interacoes-remedio {
    display: flex;
    margin-top: 210px;


}

.name-interacao-medicamento {
    margin-bottom: 1%;
}