.componente-medicamento {
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    width: 314px;
    height: 87px;
}

.botao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: #ffebeb;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 10px;
    color: #000;
}

.botao:hover {
    background-color: #ffebeb;
}

.botao p {
    margin: 0;
    font-weight: 400;
    color: #000;
}

.seta-baixo {
    transform: rotate(0deg);
    transition: transform 0.7s ease;
    font-size: 20px;
    color: #b8b8b8;
}

.conteudo-expansivel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-in-out;
}

.conteudo-medicamento {
    padding-bottom: 20px;
    background-color: #cecccc;
    color: #3d3d3d;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 14px;
}