.card-remedio {
  display: flex;
  justify-content: space-between;
  /* Move o conteúdo para os lados opostos */
  width: 295px;
  height: 87px;
  padding: 8px 12px;
  border: none;
  margin-bottom: 10px;
  outline: none;
  background-color: #ffebeb;
  border-radius: 10px;
  align-items: center;
}

.label-card {
  color: #000;
  font-family: Poppins;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: auto;
  /* Empurra o ícone para a direita */
}

.card-remedio-icon {
  border-bottom: 10px;
  max-width: 12px;
  max-height: 20px;
}