.escreve-informacoes-box {
    overflow-y: scroll;
    max-height: 300px;
    scrollbar-width: thin;
    scrollbar-color: #CECCCC #f0f0f0;
    
  }
.escreve-informacoes-box {
    align-items: center;
    overflow-y: scroll;
    max-height: 70%;

    margin-right: 8%;
}

.escreve-button-salvar{
margin-left: 27%;}
