body {
  background-color: #f2f8f8;
}

.img-logo {
  flex-shrink: 0;
  width: 62.611px;
  height: 81.431px;
  margin-top: 70px;
}

.cadastro-container {
  text-align: center;
  align-items: center;
}

.components-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
  gap: 15px;
}

.frase {
  color: #4d4c4c;
  text-align: center;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  flex-direction: column;
}

.classe-frase-abaixo-cadastrar {
  font-family: Poppins;
  font-size: 12px;
  font-style: bold;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

@media (min-width: 700px) {
  .components-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-left: 25%;
    margin-right: 25%;
  }
  .img-logo {
    width: 62.611px;
    height: 81.431px;
  }
}

.crm-state-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 9px;
}
