.componente-time {
  width: 300px;
}

.horario {
  font-family: Poppins;
  color: #696969;
  font-size: 13px;
  width: 20px;
  overflow-wrap: break-word;
}

.hora-minuto {
  height: 0px;
  width: 72px;
  border: none;
  border-radius: 3px;
  outline: none;
  background-color: #eaeaea;
  padding-left: 12px;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 500;
  color: #696969;
}
