.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120%;
}

.delete-container {
  color: #e10e17;
  text-align: center;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.span-container {
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.profile-card-container {
  margin-top: 20px;
}

.content-modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.container-aux {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 9px;
}
