.componente-medicamento {
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  width: 314px;
  height: 100px;
  position: relative;
  min-height: 100px;
  max-height: none;
}

.botao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 10px;
  z-index: 2;
  background-color: #FFE3E3;
  height: 87px;
  width: 295px;
  margin-left: auto;
  margin-right: auto;
}

.conteudo-botao {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.botao p {
  color: #000;
  font-family: Poppins;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: auto;
}

.seta-baixo {
  color: #b8b8b8;
  transition: transform 0.3s;
  position: absolute;
  right: 16px;
  top: 30%;
  transform: translateY(-50%) rotate(0deg);
}

.conteudo-expansivel {
  position: absolute;
  top: 70%;
  left: 3.3%;
  width: 295px;
  padding-top: 17px;
  overflow: hidden;
  transition: max-height 0.7s ease-in-out;
  background-color: #cecccc;
  color: #3d3d3d;
  font-size: 14px;
  z-index: 1;
  border-radius: 0px 0px 10px 10px;
}

.componente-medicamento .conteudo-expansivel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s ease-in-out;
}

.conteudo-medicamento {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.conteudo-horario {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.conteudo-botoes {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 9px;
  flex-direction: row;
  align-items: center;
}

.info-button {
  width: 213px;
  height: 43px;
  font-size: 13px;
  font-family: Poppins;
  border: none;
  border-radius: 5px;
  background-color: #fbf8f8;
  color: #4d4c4c;
  cursor: pointer;
}

.lixeira-button {
  background: none;
  border: none;
  cursor: pointer;
}