.medicine-doctor-title {
    color: #4d4c4c;
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: flex-start;
    top: 130px;
    margin-bottom: 5%;
    position: fixed;
  }
  .medicine-list-container {
    position: fixed;
    max-height: 460px;
    overflow-y: auto;
    gap: 10px;
    flex-direction: column;
    display: flex;
    top: 210px;
  }