body,
.pagina-container {
  padding-bottom: 70px;
  /* Ajuste este valor conforme necessário */
}

.medication-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 25px;
  margin-bottom: 4px;
  margin-top: -5px;
  align-items: flex-start;
}

.administration {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 27px;
  margin-bottom: 4px;
  align-items: flex-start;
}

.continuo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 27px;
  margin-bottom: 4px;
  align-items: center;
  color: #696969;
  font-family: Poppins;
  font-size: 13px;
}

.botao {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 8px;
  align-items: center;
}

.botao-add {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.meus-remedios-container {
  max-height: 80vh;
  overflow-y: auto;
  padding-bottom: 100px;
  margin-bottom: 20px;
  margin-top: 100px;
  overflow-y: auto
}

@media (max-width: 768px) {
  .meus-remedios-container {
    max-height: 60vh;
  }
}