.background-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  width: 339px;
  height: 445.25px;
  top: 400px;
  padding: 16px 0 5px 0;
  border-radius: 12px;
  background-color: #fbf8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.header-modal-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; /
  
}


.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  

}


.button-close {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button-close img {
  margin-bottom: 210px;
  margin-left:50px;
  width: 32px;
  height: 32px;
}

.button-style{
margin-left: 12px;
}
.body-modal-container {
  padding: 20px;
  margin-left: 10px;
  margin-top: 20px;

}

.title-modal {
  color: #4d4c4c;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}