#root {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%; 
  width: 100%;

}
/* index.css */
/* Apply a basic CSS reset */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
