.date-picker {
  background-color: #eaeaea;
  border: none;
  padding: 10px;
  align-items: center;
  color: #696969;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
